:root {
  --main-title-color: #ffffff;
  --main-btn-colo: #ffffff;
  --second-btn-color: #303030;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: "Opn Sans", sans-serif;
  background-color: #ffffff;
}

/* --------Header */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

/* Problem!!!!!!!! */
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

/* ------Hero */
.hero {
  background-color: #787474;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}

.hero-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* --------About */
.about {
}

.about-item {
}

.about-pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.about-title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}

.about-after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #303030;
}

.price {
  background-color: #303030;
}
.price-pre-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.price-item {
}
.price-list-text {
  font-size: 1.67;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.price-btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
}

.benefits {
  background-color: #505050;
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #ff6c00;
}

.benefits-list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}

.benefits-pre-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #303030;
}

.benefits-title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #303030;
}

.benefits-after-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}

.barbers {
  background: background: #F7F7F7;;
}

.barbers-pre-title {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;

color: #303030;
}

.barbers-title {
  font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 49px;
letter-spacing: 0.05em;

color: #303030;
}

.barbers-item {
}

.barbers-list-title {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #303030;
}

.barbers-list-text {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: 0.02em;

color: #FF6C00;
}

/* Gallery-barbers */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery {
}
.gallery-pre-title {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
/* identical to box height */

letter-spacing: 0.1em;
text-transform: uppercase;

color: #303030;
}

.gallery-list {
}

.list {
}

.gallery-title {
}