:root {
  --main-title-color: #ffffff;
  --main-btn-colo: #ffffff;
  --second-btn-color: #303030;
  --second-title-color: #303030;
  --accent-color: #ff6c00;
}

body {
  font-family: "Opn Sans", sans-serif;
  background-color: var(--main-title-color);
}

/* --------Header */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}

.btn {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/* -------Header */
.header {
  background-color: navy;
}

.insta-youtube-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}

.insta-youtube-link:hover,
.insta-youtube-link:focus {
  color: var(--accent-color);
}

.header-link,
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-title-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-title-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  color: var(--accent-color);
}

/* ------Hero */
.hero {
  background-color: #787474;
}

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--second-title-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-title {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
}

.hero-text {
  color: #9da4bd;
}

/* --------About */
.about {
}

.about-item {
}

.about-title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}

.about-after-title {
  color: #555555;
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}

.about-btn {
  color: var(--second-title-color);
}

/* Prise */
.price {
  background-color: var(--second-title-color);
}
.price-pre-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.6);
}
.price-title {
  color: var(--main-title-color);
}
.price-item {
}
.price-list-text {
  color: #9da4bd;
}

.price-btn {
  color: var(--main-title-color);
}

/* benefits */
.benefits {
  background-color: #b4abab;
}
.benefits-item span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}

.benefits-item sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: #ff6c00;
}

.benefits-list-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--second-title-color);
}

.benefits-pre-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

.benefits-after-text {
  color: #555555;
}

.barbers {
  background: #f7f7f7;
}

/* barbers */
.barbers-title {
  font-family: "Raleway";
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: var(--second-title-color);
}

.barbers-item {
}

.barbers-list-title {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
}

.barbers-list-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

/* Gallery-barbers */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.gallery {
}

.gallery-list {
}

.list {
}

.gallery-title {
}

/* booking-title */

.booking-title {
  color: var(--main-title-color);
}

.contacts {
  /* background-color: aqua; */
}
.contacts-title {
  color: var(--main-title-color);
}

.contacts-address {
  font-style: normal;
}

.contacts-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-link-tel,
.contacts-link-mail {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

.contacts-link-mail {
  text-decoration-line: underline;
}

.contacts-item {
}

.contacts-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

.contacts-text-schedule {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* footer */
.copytight {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
